body {
  background: url('https://media.istockphoto.com/id/1221832287/vector/birthday-seamless-icon-background.jpg?s=612x612&w=0&k=20&c=SfiQ75iff0k4YxLKGbCn_iKdzaKA4puh5ldCLyWFMc8=')
}

.title {
  font-size: 150%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main {
  font-size: 120%;
}

.element {
  font-size: x-large;
  background-color: rgba(0, 0, 0, 0.781);
  border-radius: 50px;
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
  flex-direction: column;
  justify-content: space-around;
  padding: 2%;
}

.buttn {
  font-size: 326%;
  background-color: rgba(255, 217, 0, 0.747);
  padding: 50px;
  display: flex;
  border-radius: 50px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}